{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h2>Signaler un ascenseur en panne</h2>
        <a href="{{path("creation_ascenseur")}}" class="btn btn-default">Creation</a>
    </div>
{% endblock %}
