{% extends 'base.html.twig' %}

{% block body %}
        <br/><br/>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Ascenseur en panne</h1>
                <h4 class="text-center"><i>Signalez-le !</i></h4>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12">
                {{ form_start(uploadPhotoForm,{ "enctype" : "multipart/form-data"}) }}
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col-6">
                          <button class="btn btn-outline-secondary btn-lg" id="camera-button" style="margin-bottom:0; width:100%;"><img src="/img/camera.svg" alt="Prendre une photo" class="img-fluid" style="margin-bottom:0; width:100%;"></button>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <div style="position:absolute; left:-1000px;">
                    {{ form_widget(uploadPhotoForm.imageFile) }}
                    </div>

                  </div>
                  <br/>
                 <div class="col-sm-12 text-center">
                     <small><a href="{{ path('listing') }}">Signaler l'ascenseur sans photo</a></small>
                </div>
                <hr />
                {{ form_end(uploadPhotoForm) }}
            </div>
        </div>
{% endblock %}
