{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="text-right">
    <button type="submit" class="btn btn-success">Soumettre le dysfonctionnement</button>
    </div>
{{ form_end(form) }}
{% endblock %}
