a:focus,
a:active{
	outline:none;
}

.h1, h1 {
    font-size: 2rem;
}
.h2, h2 {
    font-size: 1.75rem;
}
.h3, h3 {
    font-size: 1.5rem;
}

#camera-button svg {
	fill: #6c757d;
}

.btn-outline-secondary:hover svg {
	fill: #fff !important;
}
